body {
font-family: Arial, sans-serif;
background-color: #f2f2f2;
}
                    
.container {
max-width: 600px;
                        margin: 0 auto;
                        padding: 20px;
                        background-color: #fff;
                        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
                        border-radius: 5px;
                    }
                    
                    h1 {
                        text-align: center;
                        margin-bottom: 50px;
                    }
                    
                    form {
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 100px;
                    }
                    
                    label {
                        font-weight: bold;
                        margin-bottom: 20px;
                    }
                    
                    button {
                        padding: 1px 2px;
                        background-color: #8ed037;
                        color: #fff;
                        border: none;
                        border-radius: 5px;
                        cursor: pointer;
                        display: inline-block;
                    }
                    
                    button:hover {
                        background-color: #06ac19;
                    }
                    
                    body {
                        font-family: Arial, Helvetica, sans-serif;
                        background-color: rgb(193, 229, 240);
                    }
                    
                    .card {
                        width: 500px;
                        height: 300px;
                        border-radius: 10px;
                        padding: 50px 20px 0 20px;
                        box-sizing: border-box;
                        background: rgb(0, 114, 255);
                        background: radial-gradient( circle, rgba(0, 114, 255, 1) 1%, rgba(33, 25, 173, 1) 100%);
                        margin: 100px auto;
                        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
                    }
                    
                    footer {
                        max-width: 700px;
                        background-color: #ffffff;
                        overflow: hidden;
                        color: #020b27e9;
                        margin: auto;
                        display: flex;
                        justify-content: center;
                        position: relative;
                        top: 160px;